.TodoList {
  padding: 0;
}
.TodoList li {
  background: rgb(240, 242, 245);
  padding: 15px 30px;
  color: pink;
  font-weight: bold;
  list-style: none;
}
.TodoList li span {
  margin-right: 25px;
  cursor: pointer;
}
.TodoList li.on span {
  color: pink;
}
.TodoList li em {
  cursor: pointer;
}
.TodoList li.on em {
  color: pink;
  text-decoration: line-through pink;
}
.TodoList li button {
  float: right;
  border: none;
  color: pink;
}
